<a href="https://colab.research.google.com/github/fpseverino/progetto-ml-ai/blob/main/Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [296]:
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import pandas as pd

In [297]:
# Carica DataFrame da csv
df = pd.read_csv("Task_11.csv")
df.shape

(145, 134)

In [298]:
# Cancella le colonne "Id" e "Task"
del df["Id"]
del df["Task"]
df.shape

(145, 132)

In [299]:
# Rimuove righe con label uguale a -1
df = df[df["Label"] != -1]
df.shape

(119, 132)

In [300]:
# Controlla se ci sono righe duplicate
df.duplicated().sum()

0

In [301]:
# Controlla se ci sono valori null
df.isnull().sum().sum()

0

In [302]:
# Controlla se ci sono valori NaN
df.isna().sum().sum()

0

In [303]:
# Controlla tipi di dato delle feature
print(df.dtypes)
print("--------------------")
df.dtypes.value_counts(dropna = False)

mean:velocity:axis-x(in-air)        float64
std:velocity:axis-x(in-air)         float64
iqr:velocity:axis-x(in-air)         float64
mean:velocity:axis-x(on-surface)    float64
std:velocity:axis-x(on-surface)     float64
                                     ...
number_of_interruptions_relative    float64
Gender                               object
Age                                 float64
Dominant_Hand                        object
Label                                 int64
Length: 132, dtype: object
--------------------

float64    129
object       2
int64        1
Name: count, dtype: int64

In [304]:
# Seleziona le feature numeriche
colonne_numeriche = df.select_dtypes(include=[np.number]).columns
colonne_numeriche = colonne_numeriche.drop('Label')

In [305]:
# Sostituisce tutti i valori numerici pari a 0 con la media della label
df_copy = df.copy() # Copia il DataFrame per evitare i warning
df_copy[colonne_numeriche] = df_copy[colonne_numeriche].replace(0, pd.NA)
df[colonne_numeriche] = df_copy.groupby('Label')[colonne_numeriche].transform(lambda x: x.fillna(x.mean()))
df.shape

(119, 132)

In [306]:
# Controlla se ci sono valori NaN
df.isna().sum().sum()

0

In [307]:
df_numeric = df[colonne_numeriche]

# Calcola i percentili per ciascuna colonna numerica
q_low = df_numeric.quantile(0.01)
q_high = df_numeric.quantile(0.99)

# Filtra i valori che sono al di fuori dei percentili convertendoli in NaN
df_filtered = df_numeric.apply(lambda col: col[(col > q_low[col.name]) & (col < q_high[col.name])])

# Ora df_filtered contiene solo i valori non outlier nelle colonne numeriche
print("Shape valori numerici (label esclusa):      ", df_filtered.shape)

# Seleziona solo le colonne non numeriche
df_non_numerics = df.select_dtypes(exclude=[np.number])
print("Shape valori non numerici:                  ", df_non_numerics.shape)

# Unisci i due DataFrame
df_merged = df_filtered.join(df_non_numerics)
df = df_merged.join(df["Label"])
print("Shape valori numerici e non (label inclusa):", df.shape)

Shape valori numerici (label esclusa):       (119, 129)
Shape valori non numerici:                   (119, 2)
Shape valori numerici e non (label inclusa): (119, 132)

In [308]:
# Controlla se ci sono valori NaN
df.isna().sum().sum()

668

In [309]:
# Sostituisce tutti i valori numerici pari a 0 con la media della label
df[colonne_numeriche] = df.groupby('Label')[colonne_numeriche].transform(lambda x: x.fillna(x.mean()))

In [310]:
# Controlla se ci sono valori NaN
df.isna().sum().sum()

0

In [311]:
# Controllare valori della colonna Gender
print(df['Gender'].value_counts())

# Sostituire le stringhe con valori numerici
df["Gender"] = df.Gender.apply(lambda x: x.replace("Femminile", "0"))
df["Gender"] = df.Gender.apply(lambda x: x.replace("Maschile", "1"))

print("--------------------")
print(df['Gender'].value_counts())

# I valori rimangono di tipo "object" (stringhe)
print("--------------------")
print(df.dtypes.value_counts(dropna = False))

Gender
Femminile    64
Maschile     55
Name: count, dtype: int64
--------------------
Gender
0    64
1    55
Name: count, dtype: int64
--------------------
float64    129
object       2
int64        1
Name: count, dtype: int64

In [315]:
# Controllare valori della colonna Dominant_Hand
print(df['Dominant_Hand'].value_counts())

# Sostituire le stringhe con valori numerici
df["Dominant_Hand"] = df.Dominant_Hand.apply(lambda x: x.replace("Destra", "0"))
df["Dominant_Hand"] = df.Dominant_Hand.apply(lambda x: x.replace("Sinistra", "1"))

print("--------------------")
print(df['Dominant_Hand'].value_counts())

# I valori rimangono di tipo "object" (stringhe)
print("--------------------")
print(df.dtypes.value_counts(dropna = False))

Dominant_Hand
0    106
1     13
Name: count, dtype: int64
--------------------
Dominant_Hand
0    106
1     13
Name: count, dtype: int64
--------------------
float64    129
object       2
int64        1
Name: count, dtype: int64

In [316]:
df

,mean:velocity:axis-x(in-air),std:velocity:axis-x(in-air),iqr:velocity:axis-x(in-air),mean:velocity:axis-x(on-surface),std:velocity:axis-x(on-surface),iqr:velocity:axis-x(on-surface),mean:velocity:axis-y(in-air),std:velocity:axis-y(in-air),iqr:velocity:axis-y(in-air),mean:velocity:axis-y(on-surface),...,iqr:ratio_of_stroke_durations,writing_duration(on-surface),writing_duration_overall,ratio_of_writing_durations,number_of_interruptions,number_of_interruptions_relative,Age,Gender,Dominant_Hand,Label
0,0.941176,1.939393,2.0,0.539890,0.889698,2.0,1.272266,12.989940,2.0,1.799633,...,2.379897,24.505,25.200,36.036765,11.936170,0.079365,7.1,0,0,1
1,0.554197,1.699309,2.0,0.492917,0.866389,2.0,0.942135,5.561459,2.0,0.830196,...,1.499958,25.765,31.975,4.199674,14.000000,0.437842,7.1,1,0,1
2,1.431453,7.981108,2.0,0.755661,1.020492,2.0,1.325316,5.257729,2.0,1.412322,...,2.379897,18.990,18.995,28.525843,11.909091,0.394176,7.1,0,0,1
3,1.191803,4.646091,2.0,0.738685,1.017430,2.0,1.022951,4.012619,2.0,1.570582,...,0.635967,18.560,24.765,3.042623,20.000000,0.807591,7.0,1,1,0
4,1.203679,7.271267,2.0,0.825959,1.008418,2.0,1.096593,5.194738,2.0,0.926909,...,3.111200,15.255,15.260,26.049698,12.823529,0.447941,7.0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,0.535714,0.901671,2.0,0.726223,1.065904,2.0,0.828571,1.158465,2.0,1.333700,...,1.307456,18.190,19.615,12.992857,4.000000,0.203926,7.0,0,0,2
141,1.203679,7.271267,2.0,0.806359,1.051167,2.0,1.125161,5.336005,2.0,0.991415,...,3.111200,15.725,15.805,20.078176,12.296296,0.126542,7.0,1,0,0
142,1.203679,7.271267,2.0,1.742432,2.171070,2.0,1.096593,5.194738,2.0,1.453454,...,3.111200,9.745,9.750,26.049698,12.823529,0.447941,7.0,1,0,0
143,1.441662,9.626876,2.0,0.905213,1.052363,2.0,1.150242,4.980676,2.0,1.360867,...,3.370755,14.770,14.775,18.845249,7.428571,0.263346,7.0,1,0,2
144,1.240876,8.437426,2.0,0.484935,0.862129,2.0,2.671533,4.150080,2.0,0.902835,...,3.370755,28.045,28.745,40.941606,8.514286,0.069577,7.0,0,0,2